.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: 57px;
  left: 39px;
  height: 38px;
  transform-origin: 50% -30px;
  z-index: 10;
}
.logo-wrapper {
  height: 100px;
  width: fit-content;
  position: relative;
  top: -30px;
}

.App-logo-lantern{
  height: 115px;
  transform-origin: 50% 25px;
  position: absolute;
  top: 0;
  left: 0;
  animation: App-logo-spin infinite 3s ease-in-out;
}

.App-logo-github{
  height: 50px;
  animation: App-logo-flicker infinite 3s ease-in-out;
}

.list-item-names {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s ease-in-out, App-logo-flicker infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  border-bottom: 5px dashed rgb(255, 179, 37);
}
.App-body {
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-flicker {
  0% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 8px rgba(255, 142, 76, 0.808));
  }
  10% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 10px rgba(255, 154, 39, 1));
  }
  13% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 7px rgba(255, 154, 39, .7));
  }
  20% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 10px rgb(255, 100, 39));
  }
  30% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 8px rgba(255, 179, 39, 0.8));
  }
  35% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 7px rgba(255, 179, 39, 0.822));
  }
  40% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 10px rgba(255, 136, 39, 0.75));
  }
  43% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 6px rgba(255, 197, 39, 0.6));
  }
  45% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 6px rgba(255, 154, 39, .65));
  }
  47% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 6px rgba(255, 125, 39, 0.6));
  }
  50% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 5px rgba(255, 107, 39, 0.55));
  }
  53% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 5px rgba(255, 154, 39, .50));
  }
  55% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 4px rgba(255, 154, 39, .45));
  }
  57% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 5px rgba(255, 154, 39, .50));
  }
  60% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 5px rgba(255, 217, 1, 0.55));
  }
  70% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 7px rgba(255, 154, 39, .7));
  }
  75% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 7px rgba(255, 154, 39, .75));
  }
  80% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 6px rgba(255, 154, 39, .6));
  }
  85% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 6px rgba(255, 154, 39, .65));
  }
  90% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 6px rgba(255, 154, 39, .60));
  }
  92% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 7px rgba(255, 154, 39, .7));
  }
  94% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 10px rgba(255, 154, 39, 1));
  }
  96% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 8px rgba(255, 154, 39, .8));
  }
  97% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 7px rgba(255, 154, 39, .7));
  }
  100% {
    filter: invert(.5) sepia(1) saturate(5) drop-shadow(0px 0px 10px rgba(255, 154, 39, 1));
}
}

@keyframes App-logo-spin {
  0% {
    transform: rotatez(5deg) rotatex(20deg);
  }
  50% {
    transform: rotatez(-0deg) rotatex(-20deg);
  }
  100% {
    transform: rotatez(5deg) rotatex(20deg);
  }
}

@keyframes ldio-6zt3tgvfpyv {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-6zt3tgvfpyv div {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #6b6b6b;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-6zt3tgvfpyv div {
  animation: ldio-6zt3tgvfpyv 1s linear infinite;
  top: 12px;
  left: 12px
}
.loadingio-spinner-rolling-zlhkp6cwop {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  display: inline-block;
  overflow: hidden;
  background:transparent;
}
.ldio-6zt3tgvfpyv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-6zt3tgvfpyv div { box-sizing: content-box; }

svg {
  width: 25px;
  display: block;
  margin-left: 15px;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}
p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
