.createdWrapper {
    position:relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgba(255, 142, 76, 1) , rgba(255, 179, 39, 1));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.createdWrapper > ul {
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 50;
    list-style: none;
}

.createdWrapper > ul > a > li{
    margin: 10px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: #282828;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    color: white;
}

.createdWrapper > ul > a > .selected{
    margin: 10px;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    background-color: #282828;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    color: white;
}