.viewEventWrapper {
    padding: 10px;
    box-sizing: border-box;
    width: 100vw;
}
.viewEventWrapper * {
    font-size: calc(2px + 2vmin);
}
a, a:visited {
    color: white;
    text-decoration: none;
}

 a:hover {
    color: orange;
}

.showOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.showOptions > a, .showOptions > img {
    margin-top: 20px;
}

.cardsWrapper {
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.cardOuterWrapper {
    margin: 10px;
    border: 1px solid rgb(255, 142, 76);
    border-radius: 10px;
    background-color: #464b56;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.cardTitle {
    padding-bottom: 10px;
    text-align: left;
    padding-left: 5px;
}

.cardInnerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.currentColumn {
    position: relative;
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(187, 146, 69);
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loadingWrapper{
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentColumn, .startColumn, .diffColumn {
    border-radius: 5px;
    border: 1px solid #282828;
}

.currentColumnTitle {
    width: 100%;
}

.currentRankTitle {
    width: 25%;
}

.currentColumnSkill {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.currentColumnRank {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.currentColumnLevel {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.currentColumnExperience {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.startColumn {
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(187, 161, 112);
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5px;
}

.startColumnTitle {
    width: 100%;
}

.startColumnSkill {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.startColumnRank {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.startColumnLevel {
    width: 25%;
}

.startColumnExperience {
    width: 25%;
}

.diffColumn {
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(189, 129, 17);
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.startingSkillList {
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.currentSkillList {
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillWrapper {
    width: 100%;
    display: flex;
    align-content: left;
}

.skillWrapper * {
    font-size: 1.5vmin;
} 

.skillHolder {
    width: 25%;
}